/* Common Shared Styles for AdminPlus */

/* Popup Base Styles */
.commonPopup { 
    background-color: #f9f9f9; 
    border: 3px solid #102e55; 
    border-radius: 20px; 
    width: 50%; 
    height: 90%; 
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    font-family: Arial, sans-serif; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.commonPopup-header { 
    background-color: #102e55; 
    color: white; 
    padding: 10px; 
    border-radius: 10px 10px 0 0; 
    font-size: 18px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.commonback-button { 
    position: absolute; 
    top: -3px; 
    left: -3px; 
    width: 90px; 
    cursor: pointer; 
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    border-radius: initial; 
    border-top-left-radius: 20px; 
    border-bottom-right-radius: 15px; 
}

.commonSection { 
    padding: 10px; 
    border-right: 3px solid #ccc; 
    overflow-y: scroll; 
}

/* Common Layout Styles */
.iframe-container { 
    overflow: hidden; 
}

.securityPopup-row { 
    display: flex; 
}

/* Common User Selection Styles */
.selected, .userSelected { 
    background-color: #e0e0e0; 
}

.user { 
    cursor: pointer; 
    padding: 3px; 
    font-size: 14px; 
    transition: background-color 0.3s; 
}

.user:hover { 
    background-color: #f0f0f0; 
}

/* Common Button Styles */
#submitButton { 
    display: none; 
    margin-top: 1%; 
    margin-bottom: 2%; 
    margin-left: 37%; 
    padding: 10px 20px; 
    font-size: 16px; 
    width: 240px; 
    background-color: #102e55; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 10px; 
    transition: background-color 0.3s; 
}

#submitButton:hover { 
    background-color: #103e89; 
}

/* Common Checkbox/Radio Styles */
.sectionWrapper { 
    display: flex; 
}

.assignCheckbox, .teamsCheckbox, .rolesCheckbox, 
.businessUnitRadioButtons, .teamsRadioButtons, .rolesRadioButtons { 
    margin: 0px 5px 0 0; 
    width: 20px !important; 
    height: 15px; 
}

#sectionsRow { 
    white-space: nowrap; 
}

